n8n-workflows/6-cleanup.json
{
  "name": "H4K — Flow D: Weekly Cloudinary Cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 1"
            }
          ]
        }
      },
      "id": "node-01",
      "name": "Every Monday 3AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "12WESjeS-G5yitJIPehxnjs3dvjBdHmb0R-vtvSu0W-8",
          "mode": "list",
          "cachedResultName": "H4K Scheduler"
        },
        "sheetName": {
          "__rl": true,
          "value": "posts",
          "mode": "name"
        },
        "options": {}
      },
      "id": "node-02",
      "name": "Read All Posts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RwpCsVxFxaEUhZTz",
          "name": "H4K"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all().map(i => i.json);\nconst sevenDaysAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\n\nconst toClean = posts.filter(p =>\n  p.status === 'sent' &&\n  p.cloudinary_id &&\n  p.sent_at &&\n  new Date(p.sent_at) < sevenDaysAgo\n);\n\nif (toClean.length === 0) return [];\n\nreturn toClean.map(p => ({ json: { cloudinary_id: p.cloudinary_id, post_id: p.id } }));"
      },
      "id": "node-03",
      "name": "Filter Sent Posts with Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "node-04",
      "name": "Any to Clean?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-05",
      "name": "Loop Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, -100]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.cloudinary.com/v1_1/dpu4rviqw/resources/image/upload?public_ids[]={{ $json.cloudinary_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "options": {}
      },
      "id": "node-06",
      "name": "Delete from Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100],
      "credentials": {
        "httpBasicAuth": {
          "id": "thifzv",
          "name": "Cloudinary H4K"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 3AM": {
      "main": [[{ "node": "Read All Posts", "type": "main", "index": 0 }]]
    },
    "Read All Posts": {
      "main": [[{ "node": "Filter Sent Posts with Media", "type": "main", "index": 0 }]]
    },
    "Filter Sent Posts with Media": {
      "main": [[{ "node": "Any to Clean?", "type": "main", "index": 0 }]]
    },
    "Any to Clean?": {
      "main": [
        [{ "node": "Loop Posts", "type": "main", "index": 0 }],
        []
      ]
    },
    "Loop Posts": {
      "main": [
        [{ "node": "Delete from Cloudinary", "type": "main", "index": 0 }],
        []
      ]
    },
    "Delete from Cloudinary": {
      "main": [[{ "node": "Loop Posts", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
